<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossStoneGolem00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolem01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolem02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{128,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolem03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{192,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolem04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{256,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolem05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{320,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolemHit00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{384,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolemHit01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{464,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolemHit02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{544,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolemHit03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{624,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolemHit04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{704,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossStoneGolemHit05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{784,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BossStoneGolem.png</string>
            <key>size</key>
            <string>{864,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce59a13b5247273547689c92f770ffd9:d4dbe2c8638ab0712a7e4d443c353378:b2dba30f873704699d086d34289cbe32$</string>
            <key>textureFileName</key>
            <string>BossStoneGolem.png</string>
        </dict>
    </dict>
</plist>
