<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossOrcKing00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKing01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{60,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{120,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKing03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{180,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKing04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{240,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKing05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{300,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKingHit00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{360,0},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKingHit01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{452,0},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKingHit02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{544,0},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKingHit03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{636,0},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKingHit04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{728,0},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOrcKingHit05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,64}</string>
                <key>textureRect</key>
                <string>{{820,0},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BossOrcKing.png</string>
            <key>size</key>
            <string>{912,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922c97812ae63eb2c086e18a18d93a3f:36406ed84027c850d29e0bcd3133b783:3adb96a80bd1e8c0cc84012ce1d78f99$</string>
            <key>textureFileName</key>
            <string>BossOrcKing.png</string>
        </dict>
    </dict>
</plist>
